.meu-player{
    position: absolute;
    display: block;
    z-index: 1000;
    bottom: 65px;
    background: #eaeaea;
    width: 100%;
    padding: 15px;
}

ion-tabs{
    background-color: red !important;
}